body.search {
    .hero {
        margin-bottom: 0;
        .hero__box {
            bottom: 0;
            margin-top: 0;
        }
    }
    .sub-headline {
        font-size: 1.5rem;
        margin: 40px 0;
        text-align: center;
    }
    .no-search-results-form {
        display: table;
        margin: 0 auto 30px;
        max-width: 100%;
        width: 800px;
        form> div {
            display: flex;
            justify-content: space-between;
            input[type='text'] {
                border: 2px solid $accent-secondary;
                flex-grow: 1;
                font-size: 16px;
                height: 50px;
                margin-right: 40px;
                padding: 14px 24px;
            }
            input[type='submit'] {
                appearance: none;
                background-color: $color-transparent;
                border: 2px solid $accent-tertiary;
                color: $accent-tertiary;
                cursor: pointer;
                padding: 0 20px;
                text-transform: uppercase;
                &:focus,
                &:hover {
                    border-color: $accent-secondary;
                    color: $accent-secondary;
                }
            }
        }
    }
    article.hentry {
        @include clearfix();

        background-color: $item-background;
        margin-bottom: 20px;
        .entry-content {
            float: left;
            padding: 30px;
            width: 100%;
            @media (max-width: $break-sm) {
                padding: 10px;
            }
            h4 {
                margin: 0 0 20px 0;
                @media (max-width: $break-sm) {
                    margin-bottom: 10px;
                }
                a {
                    color: $color-font-main;
                    font-size: 1.235rem;
                }
            }
            .filesize {
                color: $color-font-main;
                font-size: 1.235rem;
                margin: 0;
            }
            .more-link {
                color: $accent-tertiary;
                display: inline-block;
                font-size: 1rem;
                line-height: 20px;
                position: relative;
                &::after {
                    content: '\f054';
                    display: inline-block;
                    font-family: $font-awesome;
                    font-size: 1rem;
                    line-height: 20px;
                    padding: 0 0 0 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
        .thumbnail {
            float: left;
            height: auto;
            height: 200px;
            object-fit: contain;
            width: 200px;
            @media (max-width: $break-sm) {
                height: auto;
                width: 100%;
            }
            &.placeholder {
                background-color: $meta;
            }
            + .entry-content {
                width: calc(100% - 200px);
                @media (max-width: $break-sm) {
                    width: 100%;
                }
            }
            img {
                height: 200px;
                object-fit: contain;
                width: 200px;
            }
        }
        &.attachment {
            a {
                color: $color-font-main;
            }
            .thumbnail,
            .file-placeholder {
                display: block;
                + .entry-content {
                    width: auto;
                }
            }
            .thumbnail {
                max-height: 250px;
                width: auto;
            }
            .file-placeholder {
                background-image: url('img/file.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
                float: left;
                height: 140px;
                width: 110px;
                &+ .entry-content {
                    width: calc(100% - 110px);
                    @media (max-width: $break-sm) {
                        width: calc(100% - 50px);
                    }
                }
                @media (max-width: $break-sm) {
                    height: 75px;
                    width: 50px;
                }
            }
        }
    }
}
