.container.slider-fullwidth {
    max-width: none;
}
.wjd-card-swiper {
    overflow: hidden;
    .swiper-headline {
        font-size: 1.875rem;
        line-height: 1.4;
        margin: .4em 0;
        max-width: 100%;
        text-transform: uppercase;
        &.is-highlighted {
            background-image: linear-gradient(to bottom, transparent 1.06em, $accent-secondary 1.06em 1.16em, transparent 1.06em);
            display: inline;
        }
        &::after {
            display: none;
        }
        @media (min-width: 992px) {
            font-size: 2.625rem;
        }
    }
    .swiper-outer-wrapper {
        overflow: hidden;
    }
    .swiper-inner-wrapper {
        @media (min-width: 1280px) {
            margin: 0 auto;
            width: calc(1360px * 10 / 12 - 3rem);
        }
    }
    .swiper {
        .swiper-slide {
            @media (max-width: $break-sm) {
                max-height: none !important;
            }
            .card__content {
                span.card-no {
                    display: block;
                    font-size: 6.667em;
                    font-weight: 700;
                    line-height: 1.2;
                }
            }
            @media (max-width: 1024px) {
                .card {
                    flex-direction: row;
                    .card__image-wrapper {
                        width: 50%;
                    }
                }
            }
            @media (max-width: $break-sm) {
                .card {
                    flex-direction: column;
                    .card__image-wrapper {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination {
        margin-top: 20px;
        position: relative;
        .pagination-item {
            background: $item-background;
            border-radius: 0;
            height: 20px;
            margin: 10px;
            opacity: 1;
            width: 20px;
            @media (max-width: $break-sm) {
                height: 12px;
                width: 12px;
            }
            &.swiper-pagination-bullet-active {
                background: #f9423a;
            }
        }
    }
}
