.dataTables_wrapper {
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    .custom-select {
        appearance: none;
        background: $color-light url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23343a40\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e') right .75rem center/8px 10px no-repeat;
        border: 1px solid $color-darkgrey;
        color: $form-gray-2;
        display: inline-block;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom: .25rem;
        padding-left: .5rem;
        padding-right: 1.75rem;
        padding-top: .25rem;
        vertical-align: middle;
        width: 100%;
    }
    input.form-control {
        background-clip: padding-box;
        background-color: $color-light;
        border: 1px solid $color-darkgrey;
        color: $form-gray-2;
        display: block;
        font-size: .875rem;
        font-weight: 400;
        height: calc(1.5em + .5rem + 2px);
        line-height: 1.5;
        padding: .25rem .5rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: 100%;
    }
    table {
        td,
        th {
            padding: .75rem;
        }
        th {
            border-bottom: .4rem solid $accent-secondary !important;
        }
        tr.odd td {
            box-shadow: inset 0 0 0 9999px $item-background !important;
        }
        th.sorting {
            &::before {
                margin-bottom: 2px;
            }
            &::after {
                margin-top: 2px;
            }
        }
        tbody> tr> td.dtr-control:before,
        tbody> tr> th.dtr-control:before {
            background-color: $accent !important;
        }
        tbody> tr.parent> td.dtr-control:before,
        tbody> tr.parent> th.dtr-control:before {
            background-color: $color-wjd-pantone_warm_red_c !important;
        }
    }
    ul.pagination {
        list-style: none;
        padding: 0;
        li.page-item {
            margin-left: .75rem;
            &:first-child {
                margin-left: 0;
            }
            &.previous a,
            &.next a {
                background: none;
                border: .125rem solid $accent-tertiary;
                font-size: 1em;
                height: 2.125rem;
                line-height: 1.225rem;
                width: 2.125rem;
                &:focus,
                &:hover {
                    border: .125rem solid $accent-secondary;
                }
            }
            a.page-link {
                color: $color-semidark;
                display: inline-block;
                padding: .25rem;
                text-align: center;
                white-space: nowrap;
                &:hover {
                    color: $accent-secondary;
                }
            }
            &.active a.page-link {
                color: $accent-secondary;
            }
        }
    }
    table.dataTable.nowrap th, 
    table.dataTable.nowrap td {
        white-space: pre-wrap;
    }
}
