.figure {
    margin: 0;
    overflow: hidden;
}
.figure__image-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
}
.figure__image {
    display: block;
    img {
        display: block;
        @media (max-width: 1200px) {
            height: auto !important;
        }
    }
}
.figure__caption {
    margin-top: .9375rem;
}
