.wjd-json-form {
    font-size: 1.125rem;
    margin: 0 auto;
    max-width: 640px;
    * {
        box-sizing: border-box;
    }
    .wjd-form-row {
        margin-bottom: 31px;
        position: relative;
        @include clearfix();
        .confirm-wrapper {
            margin-top: 31px;
        }
        label {
            color: $form-gray-2;
            display: block;
            line-height: 1.875rem;
            margin: 0;
            position: relative;
            &.small-margin {
                margin-bottom: .25rem;
            }
        }
        input {
            outline: 0;
            @media (max-width: $break-md) {
                font-size: 16px;
            }
            &[type='text'],
            &[type='email'],
            &[type='password'],
            &[type='url'],
            &[type='number'],
            &[type='date'] {
                appearance: none;
                background: $color-light;
                border: 1px solid $color-darkgrey;
                border-radius: 0;
                display: block;
                line-height: 1.925rem;
                padding: .6rem .6rem;
                width: 100%;
                &:hover {
                    background: $color-light;
                    border: 1px solid $color-darkgrey;
                }
                &:focus {
                    border: 1px solid $accent-secondary;
                    box-shadow: 0 0 0 1px $accent-secondary;
                }
                &.has-error {
                    border: 1px solid $color-warning-red;
                    box-shadow: 0 0 0 1px $color-warning-red;
                }
            }
        }
        select,
        textarea {
            appearance: none;
            background: $color-light;
            border: 1px solid $color-darkgrey;
            border-radius: 0;
            display: block;
            outline: 0;
            width: 100%;
        }
        textarea {
            padding: .6rem .6rem;
        }
        select {
            padding: .9rem .6rem;
        }
        input[type='checkbox'] {
            height: 15px;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 8px;
            width: 15px;
            z-index: 1;
            @media (max-width: $break-md) {
                top: 5px;
            }
            &+ label {
                display: inline-block;
                padding: 0 0 0 25px;
                position: relative;
                &::before {
                    background-color: $color-light;
                    border: 1px solid $color-darkgrey;
                    content: '';
                    display: block;
                    font-size: 13px;
                    height: 13px;
                    left: 0;
                    line-height: 15px;
                    position: absolute;
                    text-align: center;
                    top: 8px;
                    width: 13px;
                    @media (max-width: $break-md) {
                        top: 5px;
                    }
                }
            }
            &:checked+ label::before {
                background-color: $accent-secondary;
                border: 1px solid $accent-secondary;
            }
        }
        input[type='radio'] {
            height: 15px;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 8px;
            width: 15px;
            z-index: 1;
            &+ span,
            &+ label {
                display: inline-block;
                padding: 0 0 0 25px;
                position: relative;
                @media (max-width: $break-md) {
                    padding-left: 19px;
                }
                &::before {
                    background-color: $color-light;
                    background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
                    border: 1px solid $color-darkgrey;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    font-size: 13px;
                    height: 16px;
                    left: 0;
                    line-height: 15px;
                    position: absolute;
                    text-align: center;
                    top: 6px;
                    transition: all .3s;
                    width: 16px;
                    @media (max-width: $break-md) {
                        height: 13px;
                        top: 4px;
                        width: 13px;
                    }
                }
            }
            &:checked+ span::before,
            &:checked+ label::before {
                background-image: radial-gradient(circle, rgba(71,215,172,1) 0%, rgba(71,215,172,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
                border: 1px solid $accent-secondary;
            }
        }
        .password-hint {
            display: inline-block;
            font-size: 14px;
            margin-top: 5px;
        }
        .pw-show-button {
            appearance: none;
            background-color: $accent-tertiary;
            border: 0;
            color: $color-light;
            cursor: pointer;
            margin: 0;
            padding: 4px;
            position: absolute;
            right: 0;
            top: 0;
            transition: background-color .3s, color .3s;
            &:hover {
                background-color: $accent-secondary;
                border-color: $accent-secondary;
            }
        }
        &.message-holder {
            display: none;
            padding: 10px;
            p {
                font-size: 15px;
                margin: 0 0 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &.success {
                border: 1px solid $accent-secondary;
            }
            &.error {
                border: 1px solid $color-warning-red;
            }
        }
        .submit-wrapper {
            &::after {
                clear: both;
                content: '';
                display: block;
                position: relative;
            }
            input {
                background-color: $accent-tertiary;
                background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBkPSJNMjg1LjQ3NiAyNzIuOTcxTDkxLjEzMiA0NjcuMzE0Yy05LjM3MyA5LjM3My0yNC41NjkgOS4zNzMtMzMuOTQxIDBsLTIyLjY2Ny0yMi42NjdjLTkuMzU3LTkuMzU3LTkuMzc1LTI0LjUyMi0uMDQtMzMuOTAxTDE4OC41MDUgMjU2IDM0LjQ4NCAxMDEuMjU1Yy05LjMzNS05LjM3OS05LjMxNy0yNC41NDQuMDQtMzMuOTAxbDIyLjY2Ny0yMi42NjdjOS4zNzMtOS4zNzMgMjQuNTY5LTkuMzczIDMzLjk0MSAwTDI4NS40NzUgMjM5LjAzYzkuMzczIDkuMzcyIDkuMzczIDI0LjU2OC4wMDEgMzMuOTQxeiIvPjwvc3ZnPgo=) !important;
                background-position: right 1.2rem center;
                background-repeat: no-repeat;
                background-size: .6em;
                border: none;
                border-color: $accent-tertiary;
                border-radius: 4px;
                color: $color-light;
                cursor: pointer;
                float: right;
                font-size: inherit;
                font-weight: bold;
                padding: 1em 2.4em 1em 1em;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    background-color: $accent-secondary;
                    border-color: $accent-secondary;
                }
            }
        }
        .inputfile {
            height: .1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            width: .1px;
            z-index: -1;
            &:focus+ label,
            &.has-focus+ label {
                outline: 1px dotted #000;
            }
            &+ label {
                cursor: pointer;
                display: inline-block;
                text-align: center;
                figure {
                    background-color: $accent;
                    border-radius: 50%;
                    display: block;
                    height: 100px;
                    margin: 0 auto 10px;
                    padding: 20px;
                    width: 100px;
                }
                svg {
                    fill: $color-light;
                    height: 100%;
                    vertical-align: middle;
                    width: 100%;
                }
                * {
                    pointer-events: none;
                }
            }

            &:focus+ label,
            &+ label:hover {
                color: $accent-tertiary;
                figure {
                    background-color: $accent-tertiary;
                }
            }
        }
        .radio-wrapper {
            float: left;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

body.safari .wjd-json-form .wjd-form-row input[type='date'] {
    display: inline-flex;
}