.wjd-post-archive.grid {
    .row {
        .card {
            min-height: calc(100% - 3rem);
        }
    }
}
.wjd-post-masonry {
    margin: 0 -20px 60px 0;
    opacity: 0;
    .grid-item .card {
        margin-bottom: 20px;
    }
    &.grid-12 {
        .grid-sizer,
        .grid-item {
            width: calc(100% - 20px);
        }
    }
    &.grid-6 {
        .grid-sizer,
        .grid-item {
            width: calc(50% - 20px);
        }
    }
    &.grid-4 {
        .grid-sizer,
        .grid-item {
            width: calc(33.3333% - 20px);
        }
    }
    &.grid-3 {
        .grid-sizer,
        .grid-item {
            width: calc(25% - 20px);
        }
    }
    &.grid-2 {
        .grid-sizer,
        .grid-item {
            width: calc(16.6666% - 20px);
        }
    }
    @media (max-width: $break-md) {
        .grid-sizer,
        .grid-item {
            width: calc(50% - 20px) !important;
        }
    }
    @media (max-width: $break-sm) {
        .grid-sizer,
        .grid-item {
            width: calc(100% - 20px) !important;
        }
    }
}
.wjd-post-swiper {
    margin-bottom: 20px;
    overflow: hidden;
    .swiper-button-prev,
    .swiper-button-next {
        background-image: none;
        &::before {
            color: $accent;
            display: block;
            font-family: 'Font Awesome 5 Free';
            font-size: 44px;
            height: 100%;
            left: 0;
            line-height: 44px;
            position: absolute;
            top: 0;
            width: 100%;            
        }
    }
    .swiper-button-prev {
        &::before {
            content: '\f053';           
        }
    }
    .swiper-button-next {
        &::before {
            content: '\f054';           
        }
    }
    .swiper-button-prev {
        margin-left: -20px;
    }
    .swiper-button-next {
        margin-right: -20px;
    }
    .swiper-outer-wrapper {
        overflow: hidden;
    }
    .swiper {
        .swiper-slide {
            .card {
                height: 100%;
            }
            @media (max-width: $break-sm) {
                max-height: none !important;
            }
        }
    }
    .swiper-pagination {
        margin-top: 20px;
        position: relative;
        .pagination-item {
            background: #e5eaf4;
            border-radius: 0;
            height: 20px;
            margin: 10px;
            opacity: 1;
            width: 20px;
            @media (max-width: $break-sm) {
                height: 12px;
                margin: 5px;
                width: 12px;
            }
            &.swiper-pagination-bullet-active {
                background: #f9423a;
            }
        }
    }
}
// Load More Button Styles
.wjd-post-archive,
.wjd-post-masonry {
    .button.load-more {
        display: table;
        margin: 0 auto;
        &.loading {
            filter: grayscale(100%);
        }
    }
    &.list {
        .button.load-more {
            margin-top: 30px;
        }
    }
}
.wjd-post-masonry {
    .button.load-more {
        bottom: -60px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        @media (max-width: $break-sm) {
            bottom: -30px;
        }
    }
}
