header form.search-nav.desk {
    margin-right: 40px;
    position: absolute;
    right: 100%;
    top: 0;
    @media (max-width: $break-md) {
        display: none;
    }
    input {
        border: 0;
        height: 50px;
        padding: 0;
        position: absolute;
        right: calc(100% + 15px);
        top: -15px;
        transition: width .4s ease-out !important;
        width: 0;
    }
    .search-toggle {
        @include clearfix();

        cursor: pointer;
        white-space: nowrap;
        width: 86px;
        .search-icon {
            background-image: url('img/search.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            float: left;
            height: 1.125rem;
            margin-right: 9px;
            width: 1.125rem;
        }
        .search-text {
            float: left;
            font-size: 1.125rem;
            text-transform: uppercase;
        }
    }
    &.active {
        input {
            border: 2px solid $accent-secondary;
            padding: 14px 24px;
        }
        .search-toggle {
            .search-icon {
                background-image: url('img/close.svg');
            }
        }
    }
}
header form.search-nav.mobile {
    border-top: 1px solid rgba(255, 255, 255, .1);
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    order: 3;
    padding: 1.25rem 1.25rem 0;
    position: relative;
    @media (min-width: $break-md + 1px) {
        display: none;
    }
    &::before {
        background-image: url('img/search_grey.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 15px;
        left: calc(1.25rem + 13px);
        position: absolute;
        top: calc(1.25rem + 10px);
        width: 15px;
    }
    input {
        border: 2px solid $accent-secondary;
        font-size: 13px;
        height: 35px;
        line-height: 15px;
        padding: 10px 14px 10px 34px;
        width: 100%;
    }
}

