.m-sm {
    margin: 1vw !important;
}
.mt-sm {
    margin-top: 1vw !important;
}
.mr-sm {
    margin-right: 1vw !important;
}
.mb-sm {
    margin-bottom: 1vw !important;
}
.ml-sm {
    margin-left: 1vw !important;
}
.mh-sm {
    margin-left: 1vw !important;
    margin-right: 1vw !important;
}
.mv-sm {
    margin-bottom: 1vw !important;
    margin-top: 1vw !important;
}
.m-md {
    margin: 2vw !important;
}
.mt-md {
    margin-top: 2vw !important;
}
.mr-md {
    margin-right: 2vw !important;
}
.mb-md {
    margin-bottom: 2vw !important;
}
.ml-md {
    margin-left: 2vw !important;
}
.mh-md {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
}
.mv-md {
    margin-bottom: 2vw !important;
    margin-top: 2vw !important;
}
.m-lg {
    margin: 3vw !important;
}
.mt-lg {
    margin-top: 3vw !important;
}
.mr-lg {
    margin-right: 3vw !important;
}
.mb-lg {
    margin-bottom: 3vw !important;
}
.ml-lg {
    margin-left: 3vw !important;
}
.mh-lg {
    margin-left: 3vw !important;
    margin-right: 3vw !important;
}
.mv-lg {
    margin-bottom: 3vw !important;
    margin-top: 3vw !important;
}
.m-xl {
    margin: 4vw !important;
}
.mt-xl {
    margin-top: 4vw !important;
}
.mr-xl {
    margin-right: 4vw !important;
}
.mb-xl {
    margin-bottom: 4vw !important;
}
.ml-xl {
    margin-left: 4vw !important;
}
.mh-xl {
    margin-left: 4vw !important;
    margin-right: 4vw !important;
}
.mv-xl {
    margin-bottom: 4vw !important;
    margin-top: 4vw !important;
}
.m-xxl {
    margin: 5vw !important;
}
.mt-xxl {
    margin-top: 5vw !important;
}
.mr-xxl {
    margin-right: 5vw !important;
}
.mb-xxl {
    margin-bottom: 5vw !important;
}
.ml-xxl {
    margin-left: 5vw !important;
}
.mh-xxl {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
}
.mv-xxl {
    margin-bottom: 5vw !important;
    margin-top: 5vw !important;
}
.m-gutter {
    margin: 1.5rem !important;
}
.mt-gutter {
    margin-top: 1.5rem !important;
}
.mr-gutter {
    margin-right: 1.5rem !important;
}
.mb-gutter {
    margin-bottom: 1.5rem !important;
}
.ml-gutter {
    margin-left: 1.5rem !important;
}
.mh-gutter {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
.mv-gutter {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}
.p-sm {
    padding: 1vw !important;
}
.pt-sm {
    padding-top: 1vw !important;
}
.pr-sm {
    padding-right: 1vw !important;
}
.pb-sm {
    padding-bottom: 1vw !important;
}
.pl-sm {
    padding-left: 1vw !important;
}
.ph-sm {
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}
.pv-sm {
    padding-bottom: 1vw !important;
    padding-top: 1vw !important;
}
.p-md {
    padding: 2vw !important;
}
.pt-md {
    padding-top: 2vw !important;
}
.pr-md {
    padding-right: 2vw !important;
}
.pb-md {
    padding-bottom: 2vw !important;
}
.pl-md {
    padding-left: 2vw !important;
}
.ph-md {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}
.pv-md {
    padding-bottom: 2vw !important;
    padding-top: 2vw !important;
}
.p-lg {
    padding: 3vw !important;
}
.pt-lg {
    padding-top: 3vw !important;
}
.pr-lg {
    padding-right: 3vw !important;
}
.pb-lg {
    padding-bottom: 3vw !important;
}
.pl-lg {
    padding-left: 3vw !important;
}
.ph-lg {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
}
.pv-lg {
    padding-bottom: 3vw !important;
    padding-top: 3vw !important;
}
.p-xl {
    padding: 4vw !important;
}
.pt-xl {
    padding-top: 4vw !important;
}
.pr-xl {
    padding-right: 4vw !important;
}
.pb-xl {
    padding-bottom: 4vw !important;
}
.pl-xl {
    padding-left: 4vw !important;
}
.ph-xl {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
}
.pv-xl {
    padding-bottom: 4vw !important;
    padding-top: 4vw !important;
}
.p-xxl {
    padding: 5vw !important;
}
.pt-xxl {
    padding-top: 5vw !important;
}
.pr-xxl {
    padding-right: 5vw !important;
}
.pb-xxl {
    padding-bottom: 5vw !important;
}
.pl-xxl {
    padding-left: 5vw !important;
}
.ph-xxl {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}
.pv-xxl {
    padding-bottom: 5vw !important;
    padding-top: 5vw !important;
}
.p-gutter {
    padding: 1.5rem !important;
}
.pt-gutter {
    padding-top: 1.5rem !important;
}
.pr-gutter {
    padding-right: 1.5rem !important;
}
.pb-gutter {
    padding-bottom: 1.5rem !important;
}
.pl-gutter {
    padding-left: 1.5rem !important;
}
.ph-gutter {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.pv-gutter {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}
