/**
 * Fonts
 */
$font-main: 'Chivo';
$font-awesome: 'Font Awesome 5 Free';


/**
 * Colors from StyleGuide
 */

$color-wjd-pantone_661_c: #003594;
$color-wjd-pantone_3385_c: #47d7ac;
$color-wjd-pantone_warm_red_c: #f9423a;
$color-wjd-pantone_1235_c: #ffb81c;
$color-wjd-pantone_429_c: #a2aaad;
$color-wjd-black: #000;
$color-wjd-white: #fff;

/**
 * General Colors
 */

$color-transparent: rgba(0, 0, 0, 0);
$color-light: $color-wjd-white;
$color-dark: $color-wjd-black;

$color-semidark: #1d1d1b;
$color-warning-red: #ff4439;
$color-darkgrey: #232121;


$background: $color-wjd-white;
$foreground: $color-semidark;
$accent: $color-wjd-pantone_661_c;
$accent-secondary: $color-wjd-pantone_3385_c;
$accent-tertiary: $color-wjd-pantone_1235_c;
$faint-dark: #9aafd4;
$faint: #add0e6;
$faint-light: #f5f7fa;
$gray: #a4a9ad;
$form-gray: $color-darkgrey;
$form-gray-2: #6e6e6e;
$item-background: #e5eaf4;
$meta: #868a92;
$inverted-background: $color-wjd-pantone_661_c;
$inverted-foreground: $color-wjd-white;
    
/**
 * Font-Colors
 */

$color-font-main: $color-wjd-black;

/**
 * Breakpoints & Container widths
 */
$break-lg: 1199px;
$break-md: 991px;
$break-sm: 767px;
$break-xs: 499px;
$break-xxs: 399px;

$container-lg: 1170px;
$container-md: 970px;
$container-sm: 750px;
